:root {
  --color-primary: #e48826;
  --color-secondary: #bb99b7;
  --color-tertiary: #ecc8c9;
  --color-quaternary: #c6a78f;
  --color-quinary: #a0b3a8;
}
.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-title {
  font-weight: bold;
  text-transform: capitalize;
}

.text-ellipsis {
  display: block;
  max-height: 3em; /* Limita el espacio vertical */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer; /* Indicador de que se puede hacer clic */
}

.text-ellipsis.expanded {
  white-space: normal; /* Permite el texto en múltiples líneas */
  max-height: none; /* Elimina la restricción de altura */
  overflow: visible; /* Muestra todo el texto */
}

.card-text:hover {
  color: var(--color-secondary); /* Cambia el color del texto al pasar el mouse */
  text-decoration: underline;
}


.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-text {
  margin-bottom: 0.5rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-custom {
    background-color: var(--color-tertiary) !important;
    height: 70px; /* Altura fija */
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
/* Botones Personalizados */

/* Botón principal (Agregar, Guardar, etc.) */
.btn-primary-custom {
    background-color:var(--color-tertiary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary-custom:hover {
    background-color: #ff99d6;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Botón secundario (Cancelar, Volver, etc.) */
  .btn-secondary-custom {
    background-color: white;
    color: #FFB4E5;
    border: 2px solid #FFB4E5;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .btn-secondary-custom:hover {
    background-color: #FFB4E5;
    color: white;
  }
  .full-screen {
    height: 100vh; /* Ocupa toda la altura del viewport */
    flex-direction: column; /* Asegura que los hijos estén en columna */
    justify-content: space-between; /* Distribuye contenido con espacio */
    align-items: center; /* Centra horizontalmente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }